
    <div class="mb-3">
    <mat-icon>
    star
    </mat-icon>
    <mat-icon>
       arrow_right_alt
    </mat-icon>
    <mat-icon>
        face
     </mat-icon>
    </div>

    <div>
        <!-- al botón le agrego la directiva mat-button, para darle el estilo de los botones de material-->
        <!-- los colores pueden ser primary, warn, accent-->
        <button mat-button color="accent">
            Test
        </button>
        <hr>
        <button mat-raised-button color="primary">
            Test
        </button>
       
    </div>

