<mat-drawer-container class="example-container" autosize>
  <!-- BARRA DE HERRAMIENTAS -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p><app-dialogos></app-dialogos></p>
  </mat-drawer>

  <!-- CONTENEDOR  -->
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Administración de Alumnos </span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <!--buscar icon con dibujo de alumnos abm-->
    </mat-toolbar>
  </div>
</mat-drawer-container>
