<!--envuelvo card con un div de clase grilla (análogo a row):-->
<div class=" grid">
  <!-- pongo la card en una columna:-->

<div class="col-4">
<mat-card>
  <!--ENCABEZADO-->
  <mat-card-header>


    <!--TITULO-->
    <mat-card-title>
Alumno
    </mat-card-title>

</mat-card-header>

  <!--CONTENIDO-->
    <mat-card-content>
        <p>Lore</p>
    </mat-card-content>

    <!--ACTIVIDADES-->
    
       
         
        <mat-card-actions>
          <button mat-button>Agregar</button>
          <button mat-button>Cancelar</button>
        </mat-card-actions>
</mat-card>
</div>
</div>

